@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap');

$primary-color: #52489C;
$secondary-color: #AB87FF;
$terciary-color: #C6962D;

$background-color: #EFF8E2;
$brand-color: #EFF8E2;

$primary-font: 'Dancing script';
$secondary-font: 'Roboto';