h1.apresentation-subname, h1.apresentation-name {
     text-align: center;
}

h1.apresentation-subname {
     @include title($brand-color, 1.7rem);
}

h1.apresentation-name {
     @include title($primary-color, 5rem, bold);
     font-family: $primary-font, cursive;
     text-shadow: 0px 0px 5px #C6962D;
}

div.apresentation {
     padding: 20px;
     background: linear-gradient($primary-color,$secondary-color);

     div {
          margin-bottom: 50px;
     }
}

div.apresentation, form.apresentation-form {
     @extend %flex-column;
     width: 100%;
     align-items: center;
}

form.apresentation-form {
     margin-bottom: 30px;
}

input.apresentation-input {
     width: 80%;
     height: 40px;
     padding: 5px;
     border: none;
     border-radius: 5px;
     font-size: 1rem;
     color: $primary-color;
     
     &::placeholder{
          color: $primary-color;
     }
}

@media screen and (max-width: 576px){
     h1.apresentation-name {
          font-size: 4.2rem;
     }

     h1.apresentation-subname {
          font-size: 1.4rem;
     }

     input.apresentation-input {
          width: 100%;
     }
}