article.music {
     width: 200px;
     margin-bottom: 20px;
}

img.music-image {
     width: 200px;
     height: 200px;
}

h1.music-title {
     @include title($brand-color, 1.2rem);
}

h2.music-author {
     @include title($primary-color, 1rem);
}

div.music-footer {
     @extend %flex-column;
     align-items: center;
}

div.music-header, div.music-footer {
     background: $secondary-color;
     padding: 5px;
}

h1.music-title, h2.music-author {
     text-align: center;
}

a.music-link {
     margin: 0 10px;
     align-self: flex-end;
}