footer {
     background: linear-gradient($secondary-color, $primary-color);
     padding: 50px 0px 5px 0px;
}

ul.footer-menu {
     @extend %flex-row;
     align-items: center;
     justify-content: center;
     margin: 5px 0;
}

li.footer-menu-item {
     margin: 0 5px;
}

button.footer-menu-link {
     background: none;
     border: none;
     color: $brand-color;
     font-size: 1rem;

     &:hover {
          cursor: pointer;
     }
}

p.footer-credits {
     color: $terciary-color;
     text-align: center;
}