article.music {
     width: 200px;
}

img.music-image {
     width: 200px;
     height: 200px;
}

div.music-header, div.music-footer {
     background: $secondary-color;
     padding: 5px;
}

h1.music-title {
     color: $brand-color;
     font-weight: 100;
     font-size: 1.2rem;
}

h2.music-author {
     color: $primary-color;
     font-weight: 100;
     font-size: 1rem;
}

div.music-footer {
     display: flex;
     flex-direction: column;
     align-items: center;
}

h1.music-title, h2.music-author {
     text-align: center;
}

a.music-link {
     margin: 0 10px;
     align-self: flex-end;
}