nav.navbar {
     @extend %flex-row;
     background: $primary-color;
     align-items: center;
     justify-content: space-around;
     padding: 20px 0;
}

img.navbar-logo {
     width: 32px;
     height: 32px;
}

a.navbar-brand {
     @extend %flex-row;
     @include title($brand-color, 1.4rem, initial);
     font-family: $primary-font, cursive;
     align-items: center;
}

button.navbar-menu-link {
     @include title($secondary-color, 1rem, initial);
     background: none;
     border: none;
     transition: all 0.3s;

     &:hover {
          color: darken($secondary-color, 50%);
          cursor: pointer;
     }
}

a.active {
     color: darken($secondary-color, 50%);          
}

ul.navbar-menu {
     display: flex;
     flex-direction: row;
     width: 80%;
}

li.navbar-menu-item {
     margin: 0 10px;
}

@media screen and (max-width: 576px){
     ul.navbar-menu {
          width: 60%;
     }
}