form.searchform {
     background: $background-color;
     display: flex;
     justify-content: center;
}

input.searchform-input {
     @include title($primary-color, 1rem, initial);
     margin-top: 10px;
     width: 70%;
     height: 30px;
     padding: 5px;
     border: solid 1px $primary-color;
     border-radius: 5px;
     
     &::placeholder{
          color: $primary-color;
     }
}