section {
     background: $secondary-color;
     padding: 20px 20px 50px 20px;
}

div.section-box {
     @extend %flex-row;
     justify-content: center;
     align-items: center;
     background: $primary-color;
     padding: 10px;
}

h1.section-title {
     @include title($brand-color, 1.4rem);
     word-break: break-word;
}

i.section-icon {
     @include title($terciary-color, 1.8rem, bold);
     margin: 0 10px;
}