div.music {
     background: $background-color;
     flex-direction: column;
     align-items: center;
     display: flex;
     padding: 5px;
}

div.music-info {
     display: flex;
     width: 100%;
     flex-direction: row;
     justify-content: center;
     margin: 10px auto;
}

img.music-thumb {
     width: 12rem;
     margin-right: 10px;
}

audio.music-player {
     width: 50%;
     height: 30px;
     border: 1px solid $primary-color;
}

h1.music-author-name, h1,music-author-label {
     font-weight: 100;
}

h1.music-author-label {
     color: $primary-color;
}

h1.music-author-name {
     color: $secondary-color;
}

h1.music-title-error {
     color: $primary-color;
     text-align: center;
}

img.music-gif-error {
     margin: 10px auto;
     max-width: 90%;
}

button.music-btn-error {
     padding: 8px;
     border: none;
     border-radius: 5px;
     color: $brand-color;
     background: $primary-color;
     transition: all 0.4s;

     &:hover {
          cursor: pointer;
          background: darken($primary-color, 20%);
     }
}

@media screen and (max-width: 576px){
     audio.music-player {
          width: 80%;
     }

     div.music-info {
          justify-content: space-around;
     }
}