div.notfound {
    @extend %flex-column;
    @extend %section;
    align-items: center;
}

h1.notfound-title {
    @include title($primary-color, 2rem);
    text-align: center;
}

img.notfound-gif {
    margin: 10px auto;
    max-width: 90%;
}

@media screen and (max-width: 576px){
    h1.notfound-title {
        font-size: 1.5rem;
    }

}